{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
        <h3><b>P&aacutegina de Comentarios del Post</b></h3>
        <h4><b>{{title}}</b></h4>
        <h5>{{title_description}}<span class="w3-opacity">{{fecha|date:"D M d, Y."}}</span></h5>
    </div>
    <hr>
</div>
<hr>

{% for comentario in lista_comentarios %}

<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container"> 
        <h5><b>{{comentario.commentarist}}</b></h5>
        <h5><span class="w3-opacity">{{comentario.date_commentary}}</span></h5>
    </div>
    <div class="w3-container">
        <p align="justify">{{comentario.text_commentary}}</p>
    </div>
</div>
<hr>

{% endfor %}
    
{% if request.user.is_authenticated %}

<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
        <h4><b>Crear un nuevo comentario:</b></h4>
    </div>
    <div class="w3-container">
    <form method="post">
        {% csrf_token %}
        <p><b>Usuario: </b>{{request.user}}</p>
        <span class="w3-opacity">¿No eres {{request.user}} y quieres comentar? Deslogueate e ingresa nuevamente <a href="{% url 'log_out_param' 'log_in' %}">ac&aacute.</a></span></h5>
        <p><b>Comentario:</b></p>
        <textarea rows="10" cols="112" name="text_commentary"></textarea>
        <p></p>
        <div class="w3-col m4 w3-hide-small w3-right">
            <p align="right"><button class="w3-button w3-black w3-padding-large w3-margin-bottom" type="submit">Comentar</button></p>
        </div>
    </form>
    </div>
    <hr>
</div>

    {% else %}

<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
        <h4><b>Crear un nuevo comentario:</b></h4>
    </div>
    <div class="w3-container">
        <span class="w3-opacity"> &#9888 Debe ingresar para poder publicar un comentario. &#9888</span>
        <p><span class="w3-opacity">Ingresa <a href="{% url 'log_in' %}">ac&aacute.</a></span></p>
    </div>
</div>
<hr>

{% endif %}

{% if script %}

<script>
    alert("Your comment has been saved.");
</script>

{% endif %}

{% endblock %}