{% load static %}

<img src= "{% static 'sierra_quijadas.jpg' %}" alt="Parque Nacional Sierra de las Quijadas" title="PN Sierra de las Quijadas, San Luis, AR"style="width:100%" height="646px">
<div class="w3-container">
  <h3><b>{{title}}</b></h3>
  <h5>{{title_description}}<span class="w3-opacity">{{fecha|date:"D M d, Y."}}</span></h5>
</div>

<div class="w3-container">
  <p align="justify">Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
    tellus ut rutrum. Sed vitae justo condimentum.</p>
  {% if post_url %}
  <p align="justify">
    Proin tristique rutrum nisl, eget tempor dui ullamcorper in. Mauris sollicitudin felis eget nibh volutpat, ac sagittis elit tristique. Pellentesque blandit lectus eu sagittis sodales. Maecenas hendrerit sapien ac massa dictum, a volutpat felis commodo. 
    Praesent rhoncus arcu eu massa commodo imperdiet. Maecenas quis sagittis arcu, convallis imperdiet nibh. Duis ut fringilla nulla. Mauris accumsan commodo mollis. Mauris imperdiet leo a ultricies rhoncus. Donec lobortis pellentesque consequat. 
    Phasellus auctor diam nec risus consectetur semper. In tincidunt nisl dui, quis malesuada quam ornare a.
  </p>
  <p align="justify">
    Aenean vel eleifend ex. Aenean vehicula nulla purus, vel scelerisque purus suscipit a. In hac habitasse platea dictumst. Suspendisse semper, sem nec vehicula scelerisque, turpis massa lacinia libero, ac tristique sapien nisi vitae metus. Etiam ut mauris eget nulla facilisis pharetra. 
    Phasellus tellus purus, accumsan ut tempus id, cursus in elit. Nullam euismod et metus quis rutrum. Etiam vitae rhoncus ante, scelerisque gravida ante. Mauris in nulla ipsum. Curabitur sem odio, consectetur quis nunc id, molestie luctus lacus. Nunc eget cursus massa. 
    Suspendisse non quam eget augue placerat auctor eu at purus. Duis rhoncus placerat eros euismod iaculis. Nunc accumsan, sem non lobortis vestibulum, ipsum augue vehicula orci, vel commodo ligula nunc vitae elit. Nulla viverra mollis ultrices. Sed dapibus ipsum a cursus eleifend.
  </p>
  <p align="justify">
    Suspendisse aliquam ipsum nec fringilla tristique. Vivamus vel egestas ipsum. Vivamus ac dolor massa. Morbi elementum ligula vel ante eleifend, nec molestie ante tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; 
    Nulla maximus est nec luctus bibendum. Duis quis neque odio. Proin malesuada volutpat tellus, eu vulputate erat laoreet eu. Nullam non ullamcorper quam. Phasellus sed libero sed leo porttitor porttitor quis et mi.
  </p>
  <p align="justify">
    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut convallis ante tellus, nec tincidunt mi congue ac. Cras maximus, lacus id pellentesque laoreet, massa neque efficitur metus, at porta mauris purus at est. 
    Suspendisse velit purus, commodo eu diam nec, accumsan venenatis neque. Nullam a semper erat, eget laoreet orci. Nam eu accumsan dolor. Praesent fringilla ut est vitae congue. Pellentesque volutpat venenatis dolor, ut vulputate quam sagittis sed. 
    Aliquam convallis neque non lectus feugiat ultrices. Suspendisse potenti. Duis ornare pulvinar rutrum. Duis at facilisis magna. Aliquam pellentesque ultrices pharetra. Morbi molestie sit amet lectus sed condimentum.
  </p>
  <p align="justify">
  Nam bibendum gravida lectus et fringilla. Integer lacinia fringilla quam, vel facilisis lorem viverra ac. Donec eu mollis lectus. Curabitur a sem mi. Nunc id ex turpis. Aenean rutrum mattis augue eu varius. Nullam mattis dictum urna vel sodales. 
  Suspendisse mauris velit, ornare id tristique eu, blandit eget nisi. Cras feugiat hendrerit neque a iaculis. Vestibulum in tortor dui. Pellentesque ullamcorper efficitur felis eget faucibus. Etiam hendrerit gravida mauris non ultricies.
  </p>
  <br>
  <p style="text-align:center;">
  <img src= "{% static 'talampaya.jpg' %}" alt="Parque Nacional Talampaya" title="PN Talampaya, La Rioja, AR" style="width:83%" >
  </p>
  <br>
  <p align="justify">
    Duis nunc eros, vulputate eu est nec, fermentum elementum orci. Nulla porttitor eleifend ante id scelerisque. Curabitur vitae ante odio. Nulla mattis luctus mauris, in commodo eros iaculis non. Nunc fermentum arcu nunc, quis pulvinar felis fermentum vel. 
    Etiam eget ullamcorper tortor, sed pretium orci. Sed eu tortor sem. Maecenas quis lectus sit amet ex pulvinar congue. Curabitur ornare suscipit fringilla. Donec tellus risus, varius ut fermentum et, dignissim sit amet enim. In et tellus et lacus mattis ullamcorper. 
    Praesent diam lacus, aliquam luctus ipsum eget, sagittis posuere mauris. Integer dictum sed tellus eu eleifend.
  </p>
  <p align="justify">
    Suspendisse massa ipsum, venenatis a nisi nec, efficitur ornare arcu. Nullam sit amet tempor ante. Integer varius at tortor sed pretium. Nam aliquet, ante nec malesuada euismod, augue est rutrum sem, vel vestibulum augue justo sed tellus. 
    Fusce ultrices enim vel nibh viverra, ut feugiat nibh mattis. Ut varius condimentum sollicitudin. Duis id quam diam. Donec porttitor volutpat diam a molestie. Phasellus pharetra orci sed mollis interdum. Aliquam ligula urna, tincidunt ut tempus eget, porttitor sed augue. 
    Integer sed eros vel elit mattis fringilla. Curabitur viverra maximus elit, ac fringilla ipsum accumsan ac. Phasellus eu quam nulla. Nunc ac feugiat arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
  </p>
  {% endif %}
  <div class="w3-row">
    <div class="w3-col m8 s12">
    {% if not post_url %}
      <p><form action="{% url 'explorando_parques' %}">
        <button class="w3-button w3-padding-large w3-white w3-border" type = 'submit'><b>READ MORE »</b></button>
      </form></p>
    {% else %}
      <p></p>
    {% endif %}
    </div>
    
    <div class="w3-col m4 w3-hide-small">
        <p><span class="w3-padding-large w3-right"><a href="{% url 'comentarios' %}" style="text-decoration:none"><b>Comments </b><span class="w3-badge">{{cantidad_comentarios}}</a></span></span></p>
    </div>
  </div>
</div>