{% load static %}

<img src= "{% static 'sierra_quijadas.jpg' %}" alt="Parque Nacional Sierra de las Quijadas" style="width:100%" height="646px">
<div class="w3-container">
  <h3><b>Explorando Parques Nacionales</b></h3>
  <h5>{{title_description}}<span class="w3-opacity">{{fecha}}</span></h5>
</div>

<div class="w3-container">
  <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
    tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
  <div class="w3-row">
    <div class="w3-col m8 s12">
      <p><form action= {% url 'explorando_parques' %}>
        <button class="w3-button w3-padding-large w3-white w3-border" type = 'submit'><b>READ MORE »</b></button>
      </form></p>
    </div>
    <div class="w3-col m4 w3-hide-small">
      <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-badge">0</span></span></p>
    </div>
  </div>
</div>