{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Blog entry -->

<div class="w3-card-4 w3-margin w3-white">
{% include 'contenido_post.html' %}
</div>
<hr>

<!-- Blog entry -->
<div class="w3-card-4 w3-margin w3-white">
<img src="{% static 'arcoiris_copia.jpg' %}" alt="{{post_snd.image_alt}}" title="{{post_snd.image_title}}" style="width:100%">
  <div class="w3-container">
    <h3><b>{{ post_snd.title }}</b></h3>
    <h5>{{ post_snd.subtitle }} <span class="w3-opacity">Available on {{post_snd.date|date:"D M d, Y."}}</span></h5>
  </div>

  <div class="w3-container">
    <p align="justify">{{post_snd.description}}</p>
    <div class="w3-row">
      <div class="w3-col m8 s12">
        <p><button class="w3-button w3-disabled w3-padding-large w3-white w3-border" title="Post not released yet."><b>READ MORE »</b></button></p>
      </div>
      <div class="w3-col m4 w3-hide-small">
        <p><span class="w3-padding-large w3-right"><b>Comments  </b><span class="w3-badge">0</span></span></p>
      </div>
    </div>
  </div>
</div>
<!-- END BLOG ENTRIES -->

{% endblock %}