{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Blog entry -->

<div class="w3-card-4 w3-margin w3-white">
{% include 'contenido_post.html' %}
</div>
<hr>

<!-- Blog entry -->
<div class="w3-card-4 w3-margin w3-white">
<img src="{% static 'arcoiris_copia.jpg' %}" alt="arcoiris en RN 237" title="Arcoiris en RN 237 Bariloche-Piedra del Águila" style="width:100%">
  <div class="w3-container">
    <h3><b>D&iacuteas de Lluvia: ¿Salimos?</b></h3>
    <h5>Con precauci&oacuten, tambi&eacuten permiten ver las rutas de otra manera. <span class="w3-opacity">Available on Mon November 25, 2022</span></h5>
  </div>

  <div class="w3-container">
    <p align="justify">Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
      tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
    <div class="w3-row">
      <div class="w3-col m8 s12">
        <p><button class="w3-button w3-disabled w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
      </div>
      <div class="w3-col m4 w3-hide-small">
        <p><span class="w3-padding-large w3-right"><b>Comments  </b><span class="w3-badge">0</span></span></p>
      </div>
    </div>
  </div>
</div>
<!-- END BLOG ENTRIES -->

{% endblock %}