{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
        <h3><b>Resultados de la b&uacutesqueda de la etiqueta</b>
        <span class="w3-tag w3-black w3-margin-bottom">{{tag_buscado}}</span></h3>
        <h5>A continuaci&oacuten se muestran los principales resultados:</h5>
        <br>
    </div>
</div>
<hr>

{% for post in posts %}

<div class="w3-card-4 w3-margin w3-white">
  {% with ''|add:post.image as image_static %}
  <img src="{% static image_static %}" alt= "{{ post.image_alt }}" title= "{{ post.image_title }}" style="width:100%">
  {% endwith %}
  <div class="w3-container">
    <h3><b>{{ post.title }}</b></h3>
    {% if post.readmore_avaliable %}
    <h5> {{ post.subtitle }} <span class="w3-opacity">{{post.date|date:"D M d, Y."}}</span></h5>
    {% else %}
    <h5> {{ post.subtitle }} <span class="w3-opacity">Avaliable on {{post.date|date:"D M d, Y."}}</span></h5>
    {% endif %}
  </div>
    
  <div class="w3-container">
    <p align="justify">{{post.description}}</p>
    <div class="w3-row">
      <div class="w3-col m8 s12">
        {% if post.readmore_avaliable %}
        {% with ''|add:post.url as post_url %}
        <form action="{% url post_url %}">
        {% endwith %}
          <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
        </form>
      </div>
      <div class="w3-col m4 w3-hide-small">
        <p><span class="w3-padding-large w3-right"><b>Comments  </b><span class="w3-badge">{{cantidad_comentarios}}</span></span></p>
      </div>  
        {% else %}
        <p><button class="w3-button w3-disabled w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
      </div>
      <div class="w3-col m4 w3-hide-small">
        <p><span class="w3-padding-large w3-right"><b>Comments  </b><span class="w3-badge">0</span></span></p>
      </div>
        {% endif %}
    </div>
  </div>
</div>
<hr>

{% endfor %}

<!-- {% for post in post_2 %}

<div class="w3-card-4 w3-margin w3-white">
    <img src="{{ post.image }}" alt= "{{ post.image_alt }}" title="{{ post.image_title }}" style="width:100%">
      <div class="w3-container">
        <h3><b>{{ post.title }}</b></h3>
        <h5> {{ post.subtitle }} <span class="w3-opacity">Available on {{post.date}}</span></h5>
      </div>
    
      <div class="w3-container">
        <p align="justify">{{post.description}}</p>
        <div class="w3-row">
          <div class="w3-col m8 s12">
            <p><button class="w3-button {{ post.avaliable }} w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
          </div>
        </div>
      </div>
    </div>

{% endfor %} -->

{% endblock %}